body {
  font-family: system-ui, sans-serif;
  color: #6b0004ff;
  text-align: center;
  margin-top: 2rem;
  background: #737373ff;
  overflow: hidden;
}
p {
  font-size: 1.2rem;
}
#vampireIcon {
  width: 120px;
  height: 100px;
}
/* div sizes */
#top {
  width: 100vw;
  height: 20vh;
}
.half {
  width: 50vw;
}
.biggestQuarter {
  width: 68vw;
}
.biggerQuarter {
  width: 33vw;
}
.smallerQuarter {
  width: 16vw;
}

/* icon player clicks on */
#increment {
  background: none;
  border: none;
}
.icon {
  width: 400px;
  height: 400px;
  filter: drop-shadow(0px 0px 5px #000000aa);
}
.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon:active {
  transform: scale(0.9);
  cursor: pointer;
}

/* ===== Floating Banana ===== */
.dripping-blood {
  position: absolute;
  width: 50px;
  pointer-events: none;
  z-index: 1000;
  animation: floatDown 1s ease-out forwards;
}

@keyframes floatDown {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(150px) scale(0.8);
  }
}

/* shop items (display) */
.flex {
  display: flex;
}
.InfoBox {
  display: flex;
}
.locked {
  opacity: 0.5;
}
.unlocked {
  opacity: 1;
}
/* shop buttons */
.shop {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.buy:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.buy:active {
  transform: scale(0.9);
  cursor: pointer;
}
.nobuy {
  cursor: not-allowed;
}
